<p style="margin: 0;font-size: 16px;line-height: 20px">
  Op <%= l @invoice.activity.start_time, format: :date_long %> heeft u tijdens een borrel een aantal consumpties afgenomen.
  Hierbij bevestig ik dat u de kosten van <%= number_to_currency(@invoice.amount, unit: '€') %> heeft voldaan.

  Mocht u hier vragen over hebben kunt u antwoorden op deze e-mail, of zelf contact opnemen met
  <a mailto="penningmeester@societeitflux.nl">penningmeester@societeitflux.nl</a>
</p>

<br />
