version: '3'

# RAILS_MASTER_KEY must be provided in .env file or ENV
services:
  db:
    env_file: .env # must include POSTGRES_PASSWORD, POSTGRES_USER, POSTGRES_HOST
    image: postgres:11.2
    volumes:
      - postgres_data:/var/lib/postgresql/data
  redis:
    env_file: .env # must include POSTGRES_PASSWORD, POSTGRES_USER, POSTGRES_HOST
    image: 'redis:3.2-alpine'
    command: redis-server --requirepass ${REDIS_PASSWORD}
    volumes:
      - redis_data:/var/lib/redis/data
  sidekiq:
    env_file: .env
    build: .
    command: sidekiq -C config/sidekiq.yml
    depends_on:
      - db
      - redis
    environment:
      - REDIS_HOST=redis
      - POSTGRES_HOST=db
  web:
    env_file: .env
    build: .
    ports:
      - "5000:5000"
    depends_on:
      - db
      - redis
    environment:
      - REDIS_HOST=redis
      - POSTGRES_HOST=db
      - RAILS_MASTER_KEY
    volumes:
      - ./log:/app/log

volumes:
  postgres_data:
  redis_data:
