Er is een account voor u aangemaakt op het streepsysteem van uw vereniging. Deze is op dit moment nog niet geactiveerd.
<br/><br/>

Volg deze link om uw account te activeren:<br/>
<a href="<%= @activate_account_url %>">
  <%= @activate_account_url %>
</a>
<br/><br/>

De link is 5 dagen geldig. Mocht de link verlopen zijn, dan kunt u een nieuwe link aanvragen:
<a href="<%= @new_activation_link_url %>">
  <%= @new_activation_link_url %>
</a>
<br/><br/>
