Er is een aanvraag gedaan voor een nieuwe activatielink voor het account verbonden met dit e-mailadres op het streepsysteem van uw vereniging. 
<br/><br/>

Volg deze link om uw account te activeren:<br/>
<a href="<%= @activate_account_url %>">
  <%= @activate_account_url %>
</a>
<br/><br/>

De link is 1 dag geldig. Mocht de link verlopen zijn, dan kunt u een nieuwe link aanvragen:
<a href="<%= @new_activation_link_url %>">
  <%= @new_activation_link_url %>
</a>
<br/><br/>
