<%= content_tag :div, class: 'modal', id: 'new_invoice_modal', role: 'dialog', 'aria-labelledby' => 'new_invoice_modal_label', 'aria-hidden' => 'true', data: {activities: @activities_json} do %>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Factuur aanmaken
        </h5>
        <button aria-label="close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">
            <%= fa_icon 'times' %>
          </span>
        </button>
      </div>
      <%= simple_form_for @invoice, wrapper: :horizontal_form do |f| %>
        <div class="modal-body" id="invoices_modal">
          <div class="form-group row">
            <label class="col-3 col-form-label" for="activity_price_list">
              <abbr class="mr-1" title="required">*</abbr>
              Activiteit

            </label>
            <template>
              <div class="col-9" style="position:relative">
                <input class="d-none" name="invoice[activity_id]" v-bind:value="selectedSuggestion.id"/>

                <input @focus="openSuggestions" @input="openSuggestions" aria-haspopup="true" autocomplete="off"
                       class="form-control" placeholder="Begin met typen..." required="true" type="text"
                       v-bind:aria-expanded="dropdownOpened" v-model="query"/>
                <div class="row">
                  <ul class="dropdown-menu ml-3" v-bind:class="{'show':dropdownOpened}">

                    <li class="dropdown-item" v-for="(suggestion, index) in suggestions" v-on:click.prevent="suggestionClicked(index)">
                      <a href="#">
                        {{ suggestion.title }} ({{ toDate(suggestion.start_time) }})
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </template>
          </div>

          <div class="form-group row">
            <label class="col-3 col-form-label" for="invoices_users">
              <abbr class="mr-1" title="required">*</abbr>
              Gebruiker
            </label>
            <template>
              <div class="col-9" style="position:relative">
                <user-input name="invoice[user_id]"></user-input>
              </div>
            </template>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal" type="button">
            Annuleren
          </button>
          <%= f.button :submit, 'Factuur opslaan', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
