<footer class="footer d-flex justify-content-between">
  <span class="text-danger text-uppercase fw-bold mx-2">
    <% if DeployTargetConfig.staging_deployed? %>
      For demo and testing purposes only
    <% elsif !DeployTargetConfig.production_deployed? %>
      Development mode
    <% end %>
  </span>
  <span class="text-muted mx-2">
    <%= Time.now.year %> © ICT-commissie der C.S.V. Alpha
  </span>
</footer>
