<footer class="footer d-flex justify-content-between">
  <span class="text-danger text-uppercase fw-bold mx-2">
    <% if Rails.application.config.x.tomato_host == 'staging.streep.csvalpha.nl' %>
      For demo and testing purposes only
    <% elsif Rails.application.config.x.tomato_host != 'streep.csvalpha.nl' %>
      Development mode
    <% end %>
  </span>
  <span class="text-muted mx-2">
    2018 © ICT-commissie der C.S.V. Alpha
  </span>
</footer>
