<footer class="footer d-flex justify-content-between">
  <span class="text-danger text-uppercase fw-bold mx-2">
    <% if Rails.application.config.x.sofia_host == 'stagingstreep.csvalpha.nl' %>
      For demo and testing purposes only
    <% elsif Rails.application.config.x.sofia_host != 'streep.csvalpha.nl' && Rails.application.config.x.sofia_host != 'luxstreep.csvalpha.nl' && Rails.application.config.x.sofia_host != 'euros.csvalpha.nl'  %>
      Development mode
    <% end %>
  </span>
  <span class="text-muted mx-2">
    <%= Time.now.year %> © ICT-commissie der C.S.V. Alpha
  </span>
</footer>
