<div class="col-12 col-md-6 col-lg-4 mt-3 mx-auto">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">
        Log in om door te gaan
      </h3>
    </div>
    <ul class="list-group list-group-flush">
      <% if Rails.application.config.x.site_association == 'C.S.V. Alpha' %>
        <li class="list-group-item">
          <p class="card-text mt-2">
            Log in met een <%= Rails.application.config.x.site_association %> account.
          </p>
          <div class="d-grid mb-2">
            <%= link_to("Log in met #{Rails.application.config.x.site_association}", user_amber_oauth2_omniauth_authorize_path, class: 'btn btn-primary', method: :post) %>
          </div>
        </li>
        <li class="list-group-item text-center bg-light">
          OF
        </li>
      <% end %>
      <li class="list-group-item">
        <p class="card-text mt-2">
          Log in met een streepsysteem account.
        </p>
        <div class="d-grid mb-2">
          <%= link_to "Log in", login_sofia_accounts_path, class: 'btn btn-primary'%>
        </div>
      </li>
    </ul>
  </div>
</div>
