nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  span.navbar-brand
    = image_tag '/images/tomato.svg', alt: 'Tomato icon', title: ':tomato:', height: '25px'
  button.navbar-toggler{ type= 'button' data-toggle= 'collapse' data-target= '#mainNavigation'
                         aria-controls= 'mainNavigation' aria-expanded= 'false' aria-label= 'Toggle navigation'}
    span.navbar-toggler-icon

  .collapse.navbar-collapse id='mainNavigation'
    ul.navbar-nav.mr-auto
      li.nav-item
        = nav_link root_path, class: 'nav-link'
          = fa_icon 'home', class: 'mr-2', text: 'Home'

      - if current_user&.main_bartender? || current_user&.treasurer?
        li.nav-item
          = nav_link activities_path, class: 'nav-link'
            = fa_icon 'calendar', class: 'mr-2', text: 'Activiteiten'
        - Activity.current.each do |activity|
          li.nav-item
            = nav_link order_screen_activity_url(activity), class: 'nav-link'
              = fa_icon 'calculator', class: 'mr-2', text: 'Direct naar '+activity.title

      - if current_user&.treasurer?
        li.nav-item
          = nav_link users_path, class: 'nav-link'
            = fa_icon 'users', class: 'mr-2', text: 'Gebruikers'
        li.nav-item
          = nav_link price_lists_path, class: 'nav-link'
            = fa_icon 'beer', class: 'mr-2', text: 'Prijslijsten'
        li.nav-item
          = nav_link credit_mutations_path, class: 'nav-link'
            = fa_icon 'money', class: 'mr-2', text: 'Inleg en saldocorrecties'
        li.nav-item
          = nav_link zatladder_index_path, class: 'nav-link'
            = fa_icon 'list', class: 'mr-2', text: 'Zatladder'

    - if current_user
      .navbar-nav
        = nav_link current_user, class: 'nav-item'
          span.nav-link
            = fa_icon 'user-circle-o', class: 'mr-2', text: current_user.name

      .navbar-text.small
        = link_to '(uitloggen)', destroy_user_session_path, class: 'ml-1', method: :delete
