<div class="container">
  <div class="row">
    <div class="col-sm-12 py-3 text-center">

      <h1 class="sofia-header">
        <%= Rails.application.config.x.site_name %> 
        <%= image_tag '/images/sofia.svg', alt: "#{Rails.application.config.x.site_name} icon", title: Rails.application.config.x.site_name, height: '64px' %>
      </h1>
      <h4 class="mb-4">
        <small>
          <%= Rails.application.config.x.site_long_name %> 
        </small>
      </h4>
    </div>
  </div>
</div>
