<div class="container">
  <div class="row">
    <div class="col-sm-12 py-3 text-center">

      <h1 class="tomato-header">
        <%= 'S.O.F.I.A. ' %>
        <%= image_tag '/images/tomato.svg', alt: 'SOFIA icon', title: 'SOFIA', height: '64px' %>
      </h1>
      <h4 class="mb-4">
        <small>
          Streepsysteem voor de Ordentelijke Festiviteiten van Inleggend Alpha
        </small>
      </h4>
    </div>
  </div>
</div>
