.container.py-sm-3
  .row
    .col-sm-6

      h1 = 'Alpha Tomato 🍅'

      p = 'Welcome to StreepSis!'

    - if current_user
      .col-sm-6
        .card
          h3.card-header
            = fa_icon 'calendar'
            = ' Upcoming Activities'

          .card-body
            - if @upcoming_activities
              ul
                - @upcoming_activities.each do |activity|
                  li = link_to "#{activity.title} – #{activity.humanized_start_time}", activity

              - @current_activities.each do |activity|
                = link_to activity, class: 'btn btn-primary btn-block'
                  = fa_icon 'calculator'
                  = " #{activity.title} – #{activity.humanized_start_time}"

            - else
              p.card-text = 'Er zijn geen activiteiten gepland. Maak er een aan op de activiteitenpagina.'
              = link_to 'Activiteiten', activities_path, class: 'btn btn-primary btn-block'


    - else
      = render partial: 'partials/login_prompt'
