div.container

  nav.navbar.navbar-expand-md.navbar-light.bg-light
    a.navbar-brand href="#" 🍅
    button.navbar-toggler type="button" data-toggle="collapse" data-target="#mainNavigation" aria-controls="mainNavigation" aria-expanded="false" aria-label="Toggle navigation"
      span.navbar-toggler-icon

    div.collapse.navbar-collapse id="mainNavigation"
      ul.navbar-nav
        li.nav-item.active
          a.nav-link href="#" Home
        li.nav-item
          a.nav-link href="#" Pricelists
        li.nav-item
          a.nav-link href="#" Activities
        li.nav-item
          a.nav-link href="#" Transactions

  h1 Alpha Tomato 🍅

  p Welcome to StreepSis!
