<div aria-hidden="true" aria-labelledby="editPriceListModalLabel" class="modal fade" id="editPriceListModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <%= @price_list.persisted? ? 'Prijslijst wijzigen' : 'Nieuwe prijslijst' %>
        </h5>
        <button aria-label="close" class="btn-close" data-bs-dismiss="modal" type="button" />
      </div><%= simple_form_for @price_list, wrapper: :horizontal_form do |f| %>
        <div class="modal-body">
          <%= f.input :name, label: 'Naam', placeholder: 'Naam', required: true %>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
            Annuleren
          </button>
          <%= f.button :submit, 'Prijslijst opslaan', :data => {:disable_with => 'Bezig...'}, class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
