.modal.fade id='editPriceListModal' role='dialog' aria-labelledby='editPriceListModalLabel' aria-hidden='true'
  .modal-dialog role='document'
    .modal-content

      .modal-header
        h5.modal-title
          = model.persisted? ? 'Nieuwe prijslijst' : 'Prijslijst wijzigen'
        button.close type='button' data-dismiss='modal' aria-label='close'
          span aria-hidden='true' = fa_icon 'times'

      = simple_form_for model, wrapper: :horizontal_form do |f|
        .modal-body
            = f.input :name, placeholder: 'Naam', required: true

        .modal-footer
          button.btn.btn-secondary type='button' data-dismiss='modal' = 'Annuleren'
          = f.button :submit, 'Prijslijst opslaan', class: 'btn btn-primary'
