div.container

  h1 Price Lists

  table.table.table-striped
    thead.table-header-rotated
      tr
        th = 'Product'
        - @recent_price_lists&.each do |price_list|
          th.rotate
            div = link_to price_list.name, price_list
    tbody
      - if @products
        - @products.each_with_index do |product, index|
          tr
            td = product.name
            - @recent_price_lists&.each do |price_list|
              td = number_to_currency(price_list.product_price[index].amount, unit: '€')
      - else
        tr = 'No products'

  hr
