<p style="margin: 0; font-size: 16px; line-height: 20px">
  Uw Flux saldo bedraagt momenteel: <span style="color:#ff0000;"><%= number_to_currency(@user.credit, unit: '€') %></span>
  <br />
  U wordt verzocht dit aan te vullen tot minstens 5 euro positief zoals
  beschreven in het Huishoudelijk Regelement van onze stichting.
</p>

<br />

<p style="margin: 0; font-size: 16px; line-height: 20px">
  Uw saldo aanvullen kan door het geld over te maken naar <span style="white-space: nowrap;">NL68 INGB 0008 1654 20</span>
  ten name van Stichting Sociëteit Flux onder vermelding van je naam en
  'inleg zatladder'. Mocht u meer details willen, of van mening zijn dat uw saldo
  niet klopt kunt u contact opnemen met de penningmeester via
  <a href="mailto:penningmeester@societeitflux.nl">penningmeester@societeitflux.nl</a>.
</p>

<br />
