development:
  adapter: async

test:
  adapter: test

production: &production
  adapter: redis
  url: redis://:<%= ENV['REDIS_PASSWORD'] %>@<%= ENV['REDIS_HOST'] %>:6379/1
  channel_prefix: sofia_production

staging:
  <<: *production

luxproduction:
  <<: *production

eurosproduction:
  <<: *production
