# Using this Medium blogpost as an example, we save all our credentials in here!
# https://medium.com/craft-academy/encrypted-credentials-in-ruby-on-rails-9db1f36d8570

secret_key_base: 

production:
  sentry_dsn: 
  smtp_username: 
  smtp_password: 

  amber_host: 
  sofia_host: 
  amber_client_id: 
  amber_client_secret: 

  sumup_affiliate_key:
  mollie_api_key:

  healthcheck_ids:
    sidekiq:
    credit_insufficient:
    payment_poll:

staging:
  sentry_dsn: 

  amber_host: 
  sofia_host: 
  amber_client_id: 
  amber_client_secret: 

  sumup_affiliate_key: 
  mollie_api_key: 

development:

  amber_host: localhost:4200
  sofia_host: localhost
  # Use amber_client_id and _secret from ENV file for your local machine
  #  mollie_api_key: 

test:
  amber_host: localhost:4200
  sofia_host: localhost
  amber_client_id: 
  amber_client_secret: 

  mollie_api_key: 
