default: &default
  adapter: postgresql
  encoding: unicode
  pool: 10
  host: <%= ENV['POSTGRES_HOST'] %> # defined in docker-compose
  username: <%= ENV['POSTGRES_USER'] %>
  password: <%= ENV['POSTGRES_PASSWORD'] %>

development:
  <<: *default
  database: sofia_development

test:
  <<: *default
  database: sofia_test

production: &default
  <<: *default
  database: <%= ENV['POSTGRES_USER'] %>

staging:
  <<: *production
