<% content_for :title, "Verzoek niet verwerkt (422) - #{Rails.application.config.x.site_name}" %>
<h1>Verzoek niet verwerkt <small>(422)</small></h1>
<p>Je verzoek kon niet worden verwerkt. Dit komt meestal door ongeldige gegevens.</p>
<p>Controleer je invoer en probeer het opnieuw. Stuur een <%= link_to 'mailtje', "mailto:#{Rails.application.config.x.admin_email}" %> naar de ICT-commissie als dit probleem blijft optreden.</p>