<% content_for :title, "Nieuwe activatielink - #{Rails.application.config.x.site_name}" %>

<div class="card w-auto position-absolute top-50 start-50 translate-middle">
  <div class="card-header pt-3">
    <h4 class="card-title">Nieuwe activatielink</h4>
  </div>
  <div class="card-body px-4 py-3 ">
    <p><%= @message %></p>
  </div>
</div>