<% content_for :title, "Wachtwoord resetten - #{Rails.application.config.x.site_name}" %>

<div class="card w-auto position-absolute top-50 start-50 translate-middle">
  <div class="card-header pt-3">
    <h4 class="card-title">Nieuw wachtwoord instellen</h4>
  </div>
  <div class="card-body px-4 py-3">
    <%= simple_form_for :identity, url: reset_password_identity_path(activation_token: @activation_token), method: :patch, wrapper: :vertical_form do |f| %>
      <%= f.input :password, as: :password, required: true, input_html: {class: 'identity-input'} %>
      <%= f.input :password_confirmation, as: :password, required: true, input_html: {class: 'identity-input'} %>
      <div class="d-grid mt-4">
        <%= f.button :submit, 'Opslaan', method: :patch, class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>