@import 'theme_tomato';
@import 'bootstrap';
@import 'font-awesome';

@import 'order_screen';
@import 'price_lists';


// ANIMATIONS
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all .3s ease;
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

// Source: jsfiddle.net/mwj2tagh
.fa-plus18{
  text-align: center;
  font-family: "helvetica neue", Helvetica, Arial, Sans-Serif;
  font-size: 80%;
  font-weight: bold;

  &:before {
    content: "18+"
  }
}

.environment-label {
  position: fixed;
  bottom: 0;
  left: 0;
  opacity: 1;
  z-index: 20;

  @include media-breakpoint-down(sm) {
    width: 12rem;
  }

  @include media-breakpoint-down(xs) {
    width: 6rem;
  }

  &:hover {
    display: hidden;
    transition: opacity .2s;
    opacity: 0;
  }

  & + .container {
    margin-bottom: 250px;
  }
}
