@import 'theme_tomato';
@import 'bootstrap';
@import 'font-awesome';

@import "order_screen";
@import "price_lists";


// ANIMATIONS
.slide-fade-enter-active, .slide-fade-leave-active {
  transition: all .3s ease;
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
