$fa-font-path: "/webfonts";

@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/brands";
@import 'bootstrap/scss/bootstrap';
@import 'theme_sofia';
@import 'order_screen';
@import 'price_lists';

html,
body {
  position: relative;
  min-height: 100vh;
}

// Only underline links on hover
a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}


// ANIMATIONS
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: .3s ease;
}

.slide-fade-enter,
.slide-fade-leave-to {
  opacity: 0;
  transform: translateX(10px);
}

// Source: jsfiddle.net/mwj2tagh
.fa-plus18 {
  font-family: 'helvetica neue', Helvetica, Arial, sans-serif;
  font-size: 80%;
  font-weight: bold;
  text-align: center;

  &::before {
    content: '18+';
  }
}

.order-history-details-expand {
  color: $gray-500;

  &:hover {
    color: $gray-700;
  }
}

.users-table [aria-colindex='1'] {
  // ID column
  width: 100px;
}

.users-table [aria-colindex='3'] {
  // Saldo column
  width: 150px;
}

.table-group-divider {
  border-top-color: $gray-300;
}

.table-details-header {
  background-color: $gray-200;
}

.table-details-item {
  .order-history-item-edit {
    color: $gray-700;
  }
}

.btn-login {
  width: 100%
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 48px;
  line-height: 48px;
  background-color: $gray-400;
}

.footer-padding {
  padding-bottom: 58px;
}

.modal-backdrop {
  background: $transparent-800;
}
