@import 'theme_tomato';
@import 'bootstrap';
@import 'font-awesome';

@import 'order_screen';
@import 'price_lists';


// ANIMATIONS
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all .3s ease;
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.environment-label {
  position: fixed;
  bottom: 0;
  left: 0;
  opacity: 1;
  z-index: 20;

  @include media-breakpoint-down(sm) {
    width: 12rem;
  }

  @include media-breakpoint-down(xs) {
    width: 6rem;
  }

  &:hover {
    display: hidden;
    transition: opacity .2s;
    opacity: 0;
  }

  & + .container {
    margin-bottom: 250px;
  }
}

.b-table-details {
  background-color: $gray-200;
}

i {
  &.order-history--row-edit {
    color: $gray-700;

    &:hover {
      color: $gray-900;
    }
  }
}
