.bubbles-wrap {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateZ(0);
  z-index: -10;
  width: 100%;
  height: 100%;
  overflow: hidden;

  // KEYFRAMES

  @keyframes animateBubble {
    0% {
      margin-top: 100%;
    }

    100% {
      margin-top: -100%;
    }
  }

  @keyframes sideWays {
    0% {
      margin-left: 0px;
    }

    100% {
      margin-left: 50px;
    }
  }

  // ANIMATIONS

  .x1 {
    top: 5%;
    left: -5%;
    transform: scale(.6);
    animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
  }

  .x2 {
    top: 80%;
    left: 5%;
    transform: scale(.4);
    animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  }

  .x3 {
    top: 40%;
    left: 10%;
    transform: scale(.7);
    animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
  }

  .x4 {
    top: 0;
    left: 20%;
    transform: scale(.3);
    animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  }

  .x5 {
    top: 50%;
    left: 30%;
    transform: scale(.5);
    animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  }

  .x6 {
    top: 0;
    left: 50%;
    transform: scale(.8);
    animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
  }

  // OBJECTS

  .bubble {
    display: block;
    position: absolute;
    bottom: 0;

    border-radius: 50%;
    box-shadow: 0 20px 30px rgba(0, 0, 0, .2), inset 0 10px 30px 5px rgba(180, 200, 255, 1);

    width: 200px;
    height: 200px;

    &:after {
      position: absolute;
      left: 10px;
      border-radius: 50%;

      box-shadow: inset 0 20px 30px rgba(225, 225, 255, .3);
      background: radial-gradient(ellipse at center, rgba(235, 235, 255, .5) 0%, rgba(235, 235, 255, 0) 70%);

      width: 180px;
      height: 180px;
      content: '';
    }
  }
}

