.order-screen {
  display: grid;

  width: 100vw;
  height: 100vh;
  
  grid-template-columns: [header-start orders-start user-details-start user-details-search-start user-details-suggestions-start] minmax(35%, 340px) [user-details-end user-details-search-end orders-end product-grid-start user-details-suggestions-end] 1fr [header-end product-grid-end];
  grid-template-rows: [header-start] 80px [header-end user-details-start user-details-search-start product-grid-start] 240px [user-details-search-end user-details-suggestions-start orders-start ] 1fr [user-details-end user-details-suggestions-end orders-end product-grid-end];


  .header {
    display: flex;

    flex-flow: row nowrap;
    justify-content: space-between;
    z-index: 10;

    box-shadow: 0 1px 4px $transparent-200;
    background-color: $gray-100;

    color: $font-color-dark;

    grid-area: header;
  }

  .header-nav {
    flex-flow: row nowrap;
    align-items: center;
    align-self: flex-start;
    justify-content: center;

    margin: 0;
    padding: 0;

    height: 100%;

    list-style: none;

    line-height: 20pt;
    font-size: $font-size-xl;
  }

  .header-nav-item {
    padding: 0 1rem;
  }

  .header-nav-home {
    a {
      nav-link {
        padding: 0;
        color: $font-color-dark;
      }
    }
  }

  .flash {
    display: flex;
    align-self: flex-end;

    background-color: $gray-800;
    height: 100%;

    vertical-align: middle;
    text-align: center;

    color: $font-color-light;
    font-size: $font-size-lg;
  }

  .flash-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;

    a {
      &:hover {
        text-decoration: none;
      }
    }
  }

  .flash-success i {
    color: $success;
  }

  .flash-danger i {
    color: $danger;
  }

  .flash-warning i {
    color: $warning;
  }
  .flash-info i {
    color: $info;
  }

  .flash-undo {
    color: inherit;
  }

  .side-panel {
    z-index: 4;

    border-right: 1px solid $gray-600;
    box-shadow: 2px 0 4px -2px $transparent-200;

    background-color: $gray-200;
    color: $font-color-dark;
    
    grid-area: user-details;
    grid-column: user-details-start / orders-end;
    grid-row: user-details-start / orders-end;
  }

  .user-details {
    display: contents;
    z-index: 5;
  }

  .user-details-search {
    display: flex;
    z-index: 6;

    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: center;

    border-bottom: 1px solid $gray-400;
    padding: 1.5rem;
    
    grid-area: user-details-search;

  }

  .user-details-seperator {
    text-align: center;

    color: $font-color-medium;
    font-size: $font-size-lg;
  }

  .user-details-cash-button {
    button {
      background-color: $gray-800;
    }
  }

  .user-details-close:hover {
    color: $gray-600;
  }

  .user-details-suggestions {
    display: flex;
    z-index: 6;

    flex-flow: column nowrap;

    overflow-y: auto;
    
    grid-area: user-details-suggestions;
  }

  .user-details-user {
    z-index: 6;

    border-bottom: 1px solid $gray-400;
    
    grid-area: user-details-search;
  }

  .user-details-suggestions-user {
    border-bottom: 1px solid $gray-400;

    &.highlight, 
    &:hover {
      background-color: $transparant-200;
    }
  }

  .orders {
    display: flex;
    z-index: 5;

    flex-flow: column nowrap;
    align-content: flex-start;
    justify-content: space-between;

    grid-area: orders;
  }

  .orders-header {
    text-align: center;

    font-size: $font-size-xl;
  }

  .no-items {
    display: flex;
    flex-grow: .5;

    align-items: center;
    justify-content: center;

    color: $font-color-medium;
    font-size: $font-size-lg;
  }

  .orders-confirmation {
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: center;

    padding: 1rem;
    width: 100%;

    color: $font-color-light;
    font-size: $font-size-lg;
  }

  .product-grid {
    display: grid;
    justify-content: flex-start;

    background-color: $gray-400;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 2px;
    grid-area: product-grid;
  }

  .product-grid-product {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    background-color: $gray-100;
  }

  .product-grid-product-name {
    text-align: center;
    color: $font-color-dark;
    font-size: $font-size-lg;
  }
}
