@import 'bootstrap/scss/bootstrap';
@import 'theme_sofia';


.order-screen {
  display: grid;
  grid-template-rows: [header-start] 80px [header-end user-details-start product-grid-start orders-start order-grid-start] 1fr [user-details-end orders-end product-grid-end order-grid-end];
  grid-template-columns: [header-start orders-start user-details-start] minmax(35%, 340px) [user-details-end orders-end product-grid-start order-grid-start] 1fr [header-end product-grid-end order-grid-end];
  width: 100vw;
  height: 100vh;

  .flash {
    display: flex;
    align-self: flex-end;
    height: 100%;
    font-size: $font-size-lg;
    vertical-align: middle;
    color: $font-color-light;
    text-align: center;
    background-color: $gray-800;
  }

  .flash-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;

    a {
      &:hover {
        text-decoration: none;
      }
    }
  }

  .flash-success {
    i {
      color: $success;
    }
  }

  .flash-danger {
    i {
      color: $danger;
    }
  }

  .flash-warning {
    i {
      color: $warning;
    }
  }

  .flash-info {
    i {
      color: $info;
    }
  }

  .flash-undo {
    color: inherit;
  }

  .orders-rows-row-count {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    i {
      color: $font-color-medium;
    }
  }

  .header {
    z-index: 10;
    display: flex;
    flex-flow: row nowrap;
    grid-area: header;
    justify-content: space-between;
    color: $font-color-dark;
    background-color: $gray-100;
    box-shadow: 0 1px 4px $transparent-200;
  }

  .header-nav {
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    align-items: center;
    align-self: flex-start;
    justify-content: start;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: $font-size-xl;
    line-height: 20pt;
    list-style: none;
  }

  .header-nav-item {
    padding: 0 1rem;
  }

  .header-nav-home {
    a {
      i {
        padding: 0;
        padding-left: 1rem;
        color: $gray-600;
      }
    }
  }

  .side-panel {
    z-index: 4;
    display: flex;
    flex-flow: column nowrap;
    grid-area: user-details;
    align-items: stretch;
    justify-content: flex-start;
    overflow-y: auto;
    color: $font-color-dark;
    background-color: $gray-200;
    border-right: 2px solid $gray-400;
    box-shadow: 2px 0 4px -2px $transparent-200;
  }

  .user-details {
    z-index: 5;
    display: flex;
    flex-flow: column nowrap;
    overflow-y: auto;

    .highlight {
      background-color: $alpha-primary;
    }
  }

  .user-details-search {
    z-index: 6;
    flex-shrink: 0;
    padding: 1.5rem;
    border-bottom: 1px solid $gray-400;
  }

  .user-details-seperator {
    font-size: $font-size-lg;
    color: $font-color-medium;
    text-align: center;
  }

  .user-details-cash-button {
    button {
      background-color: $gray-800;
    }
  }

  .user-details-close,
  .order-rows-row-remove,
  .orders-rows-row-count-icon {
    color: $gray-600;

    &:hover {
      color: $gray-900;
    }
  }

  .user-details-suggestions {
    z-index: 6;
    display: flex;
    flex-flow: column nowrap;
    overflow-y: auto;
  }

  .user-details-user {
    z-index: 6;
    border-bottom: 1px solid $gray-400;
  }

  .user-details-suggestions-user {
    flex-shrink: 0;
    border-bottom: 1px solid $gray-400;

    &.highlight,
    &:hover {
      background-color: $transparent-200;
    }
  }

  .orders {
    z-index: 5;
    display: flex;
    flex-grow: 1;
    flex-flow: column nowrap;

    & > * {
      flex: 0 1 auto;
    }
  }

  .orders-header {
    text-align: center;
  }

  .orders-rows {
    flex: 1 1 0;
    overflow-y: scroll;
  }

  .orders-rows-row {
    align-items: center;
    font-size: $font-size-lg;
    border-top: 1px solid $gray-400;

    &:last-child {
      border-bottom: 1px solid $gray-400;
    }
  }

  .orders-rows-total {
    font-size: $font-size-lg;
  }

  .orders-rows-total-dividor {
    border-top: 1px solid $gray-400;
  }

  .orders-confirmation {
    width: 100%;
    padding: 1rem;
    font-size: $font-size-lg;
    color: $font-color-light;
  }

  .product-grid {
    display: grid;
    grid-area: product-grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    justify-content: flex-start;
    background-color: $gray-400;
  }

  .product-grid-product {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: filter 0.2s ease;

    &:hover {
      filter: brightness(0.85);
    }
  }

  .product-requires-age {
    filter: brightness(0.7);

    &:hover {
      filter: brightness(0.6);
    }
  }

  .product-grid-product-name {
    font-size: $font-size-lg;
    color: $font-color-dark;
    text-align: center;
  }

  .fa-circle-lighter {
    color: $gray-600;
  }

  .order-grid {
    display: grid;
    grid-area: order-grid;
    overflow-y: auto;
  }
}