@import 'theme_sofia';

.center-text {
  margin: 0 auto;
  text-align: center;
}

th {
  &.products-id {
    width: 1.75rem;
  }

  &.products-actions {
    width: 4rem;
  }
}

.price_lists_table {
  tr {
    &:last-child {
      td {
        border-bottom-width: 0;
      }
    }
  }
}

td {
  &.products-new-edit-button {
    padding: .5rem 1rem;
  }

  &.products-new {
    input {
      &.form-control {
        width: 6rem;
      }
    }

    select {
      &.form-control {
        width: 4rem;
      }
    }
  }

  &.products-new-price {
    input {
      &.form-control {
        width: 2rem;
      }
    }
  }

  &.products-cancel-new,
  &.products-cancel-edit,
  &.products-save-new {
    vertical-align: middle;
  }
}
