@import 'theme_sofia';

.price-lists-table {
  width: fit-content;
  max-height: calc(100vh - 18rem);

  .center-text {
    margin: 0 auto;
    text-align: center;
  }

  .products-id,
  .products-cancel-edit {
    left: 0;
    width: 1.75rem;
  }

  .products-name {
    left: 2.1rem;
    width: 6rem;
  }

  .products-actions,
  .products-new-edit-button,
  .products-save-new {
    right: 0;
  }

  .products-id,
  .products-cancel-edit,
  .products-name,
  .products-new-edit-button,
  .products-save-new {
    position: sticky;
    z-index: 1;
    background-color: $body-bg;
  }

  .products-actions {
    position: sticky;
    z-index: 1;
  }

  thead  {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: $body-bg;
  }

  th {
    &.products-actions {
      width: 4rem;
    }
  }

  tr {
    &:last-child {
      td {
        border-bottom-width: 0;
      }
    }
  }


  td {
    &.products-new-edit-button {
      padding: .5rem 1rem;
    }

    &.products-new {
      input {
        &.form-control {
          width: 6rem;
        }
      }

      select {
        &.form-control {
          width: 4rem;
        }
      }
    }

    &.products-new-price {
      input {
        &.form-control {
          width: 4rem;
        }
      }
    }

    &.products-cancel-new,
    &.products-cancel-edit,
    &.products-save-new {
      vertical-align: middle;
    }
  }
}
