td.edit-product-row i {
  cursor: pointer;
  color: rgba(0,0,0,0);
}
tr.products:hover {
  td.edit-product-row i {
    color: $font-color-dark;
  }
}

td.new-product-input {
  input.form-control {
    width: 8rem;
  }
  input.form-check-input {
    margin-top: 0.25rem;
  }
}

.new-product-remove, .new-product-save {
  cursor: pointer;
}
