.sudo-header {
  margin: 2em auto;
  text-align: center;
}

.sudo-form {
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .2);
  background-color: #fff;
  padding: 2em;
  max-width: 340px;

  input {
    display: block;
    border: 1px solid #ececec;
    border-radius: 5px;
    padding: 4px;
    width: 100%;
    line-height: 2em;
    font-size: 16px;
  }

  [type='submit'] {
    margin: 1em auto;
    border: 0;
    border-radius: 25px;
    background-color: #ececec;
    cursor: pointer;
    padding: 4px;
    width: 60%;
  }
}

.sudo-tip {
  margin-top: 2em;
  text-align: center;
  font-size: 14px;
}
