
// Basic colors
$brand-primary:   #e8df0c;
$brand-secondary: #00a5b5;

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

// Transparent blacks
$transparent-200: rgba(0, 0, 0, .2);

// Typography
$font-family-sans-serif: Roboto, 'Helvetica Neue', Arial, sans-serif;

$font-weight-light:    300;
$font-weight-normal:   400;
$font-weight-bold:     500;

$font-size-base:       .93rem;
$font-size-xl:         ($font-size-base * 2);

$font-color-light:     $gray-100;
$font-color-medium:    $gray-600;
$font-color-dark:      $gray-800;

$alpha-primary: #ff0;

// Basic layout
$body-bg:              $gray-100;
$body-color:           $font-color-dark;
$enable-print-styles:  false;

// Custom stuff
.table-header-rotated {
  .rotate {
    height: 10rem;
    white-space: nowrap;

    > div {
      transform: translate(-9px, 0) rotate(-45deg);
      width: 30px;
    }

    > div > a {
      padding: 5px 10px;
    }
  }

  .tomato-header {
    margin-bottom: .5rem;
    line-height: 1.2;
    color: inherit;
    font-family: inherit;
    font-size: 2.5rem;
    font-weight: 500;
  }
}
