
// Basic colors
$brand-primary: #e8df0c;
$brand-secondary: #00a5b5;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

// Transparent blacks
$transparent-200: rgb(0 0 0 / 20%);
$transparent-800: rgb(0 0 0 / 80%);

// Typography
$font-family-sans-serif: roboto, 'Helvetica Neue', arial, sans-serif;
$font-size-base: .93rem;
$font-size-xl: ($font-size-base * 2);
$font-color-light: $gray-100;
$font-color-medium: $gray-600;
$font-color-dark: $gray-800;
$alpha-primary: #ff0;

// Basic layout
$body-bg: $gray-100;
$body-color: $font-color-dark;

// Custom stuff
.table-header-rotated {
  .rotate {
    height: 10rem;
    white-space: nowrap;

    > div {
      width: 30px;
      transform: translate(-9px, 0) rotate(-45deg);
    }

    > div > a {
      padding: 5px 10px;
    }
  }

  .sofia-header {
    margin-bottom: .5rem;
    font-family: inherit;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
  }
}
