
// Basic colors
$brand-primary:   #e8df0c;
$brand-secondary: #00a5b5;


// Basic layout
$body-bg:    #f8f9fa;
$body-color: #212529;

$enable-shadows: true;
$enable-print-styles: false;


// Custom stuff
.table-header-rotated {
  th.rotate {
    height: 150px;
    white-space: nowrap;
    > div {
      transform:
        translate(-9px, 0px)
        rotate(-45deg);
      width: 30px;
    }
    > div > a {
      padding: 5px 10px;
    }
  }
}

span.best_in_place {
  cursor: pointer;
  border-bottom: 1px dashed;
}
