<% content_for :title, "Wachtwoord vergeten - #{Rails.application.config.x.site_name}" %>

<div class="card w-auto position-absolute top-50 start-50 translate-middle">
  <div class="card-header pt-3">
    <h4 class="card-title">Wachtwoord vergeten</h4>
  </div>
  <div class="card-body px-4 py-3 ">
    <%= simple_form_for :sofia_account, url: forgot_password_sofia_accounts_path, method: :post, wrapper: :vertical_form do |f| %>
      <p class="text-muted mb-4">Door dit formulier in te vullen ontvangt u een email met een link om een nieuw wachwoord in te stellen.</p>
      <%= f.input :username, as: :string, label: "Gebruikersnaam", input_html: {name: 'username', class: 'sofia-account-input'} %>
      <div class="d-grid mt-4">
        <%= f.button :submit, 'Link aanvragen', method: :post, class: 'btn btn-primary mt-1' %>
      </div>
    <% end %>
  </div>
</div>
