<%= content_tag :div, class: 'modal', id: 'edit_activity_modal', role: 'dialog', 'aria-labelledby' => 'edit_activity_modal_label', 'aria-hidden' => 'true' do -%>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Activiteit hernoemen
        </h5>

        <button class="btn-close" data-bs-dismiss="modal" aria-label="close" />
      </div>
      <%= simple_form_for(@activity, wrapper: :horizontal_form, method: :patch) do |f| %>
        <div class="modal-body" id="activities_modal">
          <%= f.input :title, label: 'Titel', placeholder: 'Titel', required: true %>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal">
            Annuleren
          </button>
          <%= f.button :submit, 'Naam wijzigen', :data => {:disable_with => 'Bezig...'}, class: 'btn btn-primary', method: :patch %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
