= content_tag :div, class: 'modal', id: 'edit_activity_modal', role: 'dialog', 'aria-labelledby'=> 'edit_activity_modal_label', 'aria-hidden'=> 'true', data: { price_lists: @price_lists_json }
  .modal-dialog role='document'
    .modal-content

      .modal-header
        h5.modal-title
          = 'Nieuwe activiteit'
        button.close type='button' data-dismiss='modal' aria-label='close'
          span aria-hidden='true' = fa_icon 'times'

      = simple_form_for @activity, wrapper: :horizontal_form do |f|
        .modal-body id='activities_modal'
          = f.input :title, placeholder: 'Titel', required: true
          = f.input :start_time, as: :string, order: %i[hour minute day month year]
          = f.input :end_time, as: :string, order: %i[hour minute day month year]

          .form-group.row
            label.col-3.col-form-label for='activity_price_list'
              abbr.mr-1 title='required' = '*'
              = 'Prijslijst'

            template
              .col-9 style="position:relative"
                  input.d-none name="activity[price_list_id]" v-bind:value="selectedSuggestion.id"
                  input.form-control( type="text" v-model="query" placeholder="Start typing..."
                                      @input="openSuggestions"
                                      @focus="openSuggestions"
                                      aria-haspopup="true" v-bind:aria-expanded="dropdownOpened"
                                      required="true" autocomplete="off")
                  .row
                    ul.dropdown-menu.ml-3 v-bind:class="{'show':dropdownOpened}"
                      li.dropdown-item( v-for="(suggestion, index) in suggestions"
                                        v-on:click.prevent="suggestionClicked(index)")
                        a href="#" = '{{ suggestion.name }}'

        .modal-footer
          button.btn.btn-secondary type='button' data-dismiss='modal' = 'Annuleren'
          = f.button :submit, 'Activiteit opslaan', class: 'btn btn-primary'
