<div class="modal fade" id="sumup-error-order-modal" aria-labelledby="sumup-error-order-modal-label" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sumup-error-order-modal-label">Sumup betaling mislukt</h5>
      </div>
      <div class="modal-body">
        De Sumup betaling is mislukt. Wil je de betaling nogmaals proberen of de bestelling verwijderen?
      </div>
      <div class="modal-footer">
        <button aria-label="Close" class="btn btn-secondary me-1" @click="deleteOrder(<%= @sumup_error_order.id %>)" type="button">
          Bestelling verwijderen
        </button>
        <button @click="startSumupPayment(<%= @sumup_tx_id %>, <%= @sumup_error_order.order_total %>)" class="btn btn-primary" type="submit" :disabled="isSubmitting">
          Nog eens proberen
        </button>
      </div>
    </div>
  </div>
</div>