<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<!DOCTYPE html>
<html>
<head>
<title><%= yield(:title) %></title>
  <% app_css_path = Rails.root.join('app', 'assets', 'builds', 'application.css') %>
  <% css = File.exist?(app_css_path) ? File.read(app_css_path) : '' %>
  <style type="text/css">
    <%= css.html_safe %>
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>
