<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<!DOCTYPE html>
<html>
<head>
<title><%= yield(:title) %></title>
  <% css = '' %>
  <% candidates = [] %>
  <% candidates.concat(Dir.glob(Rails.root.join('app', 'assets', 'builds', '*.css').to_s)) %>
  <% candidates.concat(Dir.glob(Rails.root.join('public', 'assets', '*.css').to_s)) %>
  <% css = candidates.filter_map do |path|
    begin
      File.read(path)
    rescue => e
      Rails.logger.warn "Could not read compiled css from #{path}: #{e.message}"
      nil
    end
  end.join("\n") %>
  <style type="text/css">
    <%= css.html_safe %>
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>
